ProyectoFinalWS/web/WEB-INF/wsdl/localhost_8080/ProyectoFinalWS/ActividadWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices/">

<xs:element name="AgregarActividad" type="tns:AgregarActividad"/>

<xs:element name="AgregarActividadResponse" type="tns:AgregarActividadResponse"/>

<xs:element name="EditarActividad" type="tns:EditarActividad"/>

<xs:element name="EditarActividadResponse" type="tns:EditarActividadResponse"/>

<xs:element name="EliminarActividad" type="tns:EliminarActividad"/>

<xs:element name="EliminarActividadResponse" type="tns:EliminarActividadResponse"/>

<xs:element name="EliminarActividades" type="tns:EliminarActividades"/>

<xs:element name="EliminarActividadesResponse" type="tns:EliminarActividadesResponse"/>

<xs:element name="ObtenerActividadesDeModulo" type="tns:ObtenerActividadesDeModulo"/>

<xs:element name="ObtenerActividadesDeModuloResponse" type="tns:ObtenerActividadesDeModuloResponse"/>

<xs:element name="SeleccionarActividad" type="tns:SeleccionarActividad"/>

<xs:element name="SeleccionarActividadResponse" type="tns:SeleccionarActividadResponse"/>

<xs:complexType name="SeleccionarActividad">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SeleccionarActividadResponse">
<xs:sequence>
<xs:element name="return" type="tns:actividad" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="actividad">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="idModulo" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="vencimiento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarActividad">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarActividad">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="vencimiento" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="idModulo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AgregarActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EditarActividad">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="vencimiento" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EditarActividadResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerActividadesDeModulo">
<xs:sequence>
<xs:element name="idModulo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ObtenerActividadesDeModuloResponse">
<xs:sequence>
<xs:element name="return" type="tns:actividad" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarActividades">
<xs:sequence>
<xs:element name="idModulo" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="EliminarActividadesResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>